body{
	text-align: center;
	background: #6D6027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button{
	border-radius: 10px;
	background-color: #190001;
	color: #f7fff8;
}
.container{
	
	margin: 80px auto;
	width: 510px;
	box-shadow: 4px 4px grey;
	
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

}

h1{
	width: 250px;
	border-bottom: 4px solid #190001;
	margin: 30px auto;
	padding-bottom: 1px;
	font-size: 44px; 
	border-radius: 5px;
	color: white;
}
/*
a. #display
b. #functionalDiv
	1. #clear, #backSpace
	2. #equals
c. #containerDiv
	1. #numbers
		i.	.numberButtons
		ii.	.footNumberButtons
  	2. #operators
  		i.	.operatorButtons-paired
  		ii.	.operatorButtons-alone

*/

#display {
	width: 400px;
	height: 60px;
	line-height: 60px;
	font-size: 50px;
	background-color: #f7fff8;
	margin:20px auto;
	text-align: left;
	padding: 2px 20px;
	border-radius: 5px;
	border: 3px solid #190001;
	color: #190001;
	overflow: hidden;
}

#functionalDiv{
	width: 500px;
	height: 70px;
	margin: 2px auto;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	border-radius: 5px;
}

#clear, #backSpace {
	width: 120px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 17px;
}

#equals {
	width: 140px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}

#containerDiv {
	width: 95%;
	height: 70%;
	display: flex;
	
	margin: 5px auto;
	justify-content: space-between;
	/*background-color: #8599D5;*/

}

#numbers {
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	width: 70%;
	height: 95%;
	/*background-color: black;*/
	margin-left: 5px;

}

.troubleMaker{
	
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 360px;
	/*background-color: white;*/
	
}
.numberButtons{
	
	width: 30%;
	height: 50px;
	font-size: 2em;
	margin: 5px 3px; 


	
}

.footNumberButtons{
	height: 50px;
	width: 45%;
	font-size: 2em;
	margin: 20px 3px 7px 3px;  	

}

#operators{

	display: flex;
	flex-direction: column;
	/*background-color: black;*/
	justify-content: center;

	width: 25%;
	


}
.operatorButtons-paired{
	height: 40px;
	width: 50%;
	margin: 4px;
	font-size: 1.75em;
}

.operatorButtons-alone{

	height: 40px;
	margin: 5px 0;
	font-size: 2em;

	

}

